<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>

<body>
    <h1>颱風范斯高影響</h1>
    <p>
        雅虎奇摩(即時新聞)
    </p>
    <hr size="3">
    颱風范斯高 (23日) 生成
    <br>
    <img width="500" 
        src="https://s.yimg.com/ny/api/res/1.2/Y_KK.DeBZeBxrfZreek6Tg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTcwNTtoPTUxNg--/https://media.zenfs.com/ko/gotv_ctitv_com_tw_678/e54b8dcad7878a1628db0954fb4ba53b" 
        alt="颱風氣象圖">
</body>

</html>